.filters {
  margin-right: 10px;
  margin-left: 10px;
}

.brand {
  font-size: 2.2rem;
  color: rgb(8, 126, 164);
}

.filter-button > button {
  float: right;
}

#addMark {
  padding-left: 1rem;
  padding-right: 1rem;
}
